html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* ❗ запрет скролла страницы */
}
.app {
  height: 100vh;        /* вся высота окна */
  display: flex;
  flex-direction: column;
}

/* полоса табов */
.tabs-bar {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 55px;
  flex-shrink: 0;
}

.content {
  flex: 1;             /* занимает всё оставшееся место */
  overflow-y: auto;    /* ← СКРОЛЛ ТОЛЬКО ЗДЕСЬ */
  opacity: 0;
}
.set{
   opacity: 1; /* исключение для settings */
}

/* табы занимают всё место */
.tabs-bar .tabs {
  flex: 1;
}

/* гамбургер скрыт по умолчанию */
.tabs-hamburger {
  display: none;
  color: white;
}

/* гамбургер всегда первый в строке */
.tabs-hamburger {
  order: -1;
  margin-right: 25px !important;
  /* отступ от табов */
}

/* табам можно оставить flex:1, чтобы занимали остальное */
.tabs-bar .tabs {
  flex: 1;
}

/* скрываем дополнитетьный элемент, который показывает выделенный таб */
.dedicatedTab {
  display: none;
}

/* мобильная версия */
@media (max-width: 1280px) {

  /* скрываем табы */
  .tabs-bar .tabs .closefirst {
    display: none;
  }

  /* показываем гамбургер */
  .tabs-hamburger {
    display: flex !important;
    align-items: center;
    height: 48px;
  }
}

@media (max-width: 992px) {

  /* скрываем табы */
  .tabs-bar .tabs {
    display: none;
  }

  /* дополнитетьно показываем выделенный таб */
  .dedicatedTab {
    display: flex;
  }
}

/* --- кнопка выбора на class="collapsible" справа  ---*/
.app {
  position: relative;
}

.collapsible {
  position: absolute;
  top: 0px;
  right: 50px;
  box-shadow: none !important;
  border: 0;
  margin-top: 0;
  width: 140px;
}

/* костомизация блока */
.header-flex {
  height: 55px !important;
  border: 0;
  font-weight: 600;
}

/* запретить копирование из выпадающего списка */
#list-files .collapsible-header {
  transition: background-color 250ms ease;
}

/* подсвечиваем выделение типов моделей при наведении мышью (меню справа) */
#open-settings:hover,
#list-search .collapsible-header:hover,
#list-files .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.06) !important;
}

/* выделяем элементы списка при наведении мышью (меню справа) */
.collection .collection-item:hover {
  cursor: default;
  background-color: rgb(235, 235, 235);
}

/* блок выпадающего контента */
.collapsible-body {
  margin-top: 2px;
  padding: 0;
}

/* ------------------------------------------------------ */
/* --- кнопка Settings  ---*/
#open-settings{
  right: 0px;
  width: 50px;
  height: 55px;
}
/* ------------------------------------------------------ */
/* --- кнопка выбора: Поиск по начальной букве  ---*/
/* размеры и положение кнопки */
#list-search {
  right: 190px;
  width: 80px;
}
/* расположение текста внутри кнопки */
#list-files .header-flex,
#list-search .header-flex {
  justify-content: center;
  align-items: center;
  padding: 0;
}
/* скролл для выпадающего списка */
#list-search .collapsible-body {
  padding: 0; /* чтобы не влиял на расчёт высоты */
}
#list-search .collection {
  max-height: calc(100vh - 55px); /* подгони под свой хедер */
  overflow-y: auto;
}
/* ------------------------------------------------------ */
/* скрываем tab с настройками */
.tabs-bar .tabs .hidden-tab {
  display: none;
}

/* название табов с учётом регистра */
.btn,
.dedicatedTab,
.tabs .tab a {
  text-transform: none !important;
  font-weight: 600;
  font-size: 16px;
}
/* для подсветки пункта в sidenav - в гамбургер-меню при наведении мыши */
.sidenav li>a:hover  {
  background-color: rgb(235, 235, 235);
}

/* для подсветки активного пункта в sidenav - в гамбургер-меню */
.sidenav li>a.active {
  background-color: rgb(215, 215, 215);
  font-weight: 600;
}

/* Сделать выезжающее меню уже */
#mobile-demo.sidenav {
  width: 240px;
}

#mobile-demo.sidenav a {
  cursor: default;
  font-size: 15px;
}

